In [2]:
import pandas as pd
import numpy as np
import random
import ace_tools as tools

ModuleNotFoundError: No module named 'ace_tools'

In [3]:
pip install ace_tools

Requirement already satisfied: ace_tools in /opt/conda/lib/python3.9/site-packages (0.0)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv('Final_train_data.csv')
df_test = pd.read_csv('Final_corrected_Projected_Data.csv')

In [5]:
s=random.uniform(0.7,1.3)

In [19]:
# Define the standard deviation for normal distribution (you can adjust this)
std_dev = 100  # Example: 10% standard deviation
# Function to calculate new competitor prices based on normal distribution
def calculate_new_competitor_price(selling_price, std_dev,rand):
   return np.random.normal(selling_price, std_dev)
# Apply the function to generate new competitor prices based on selling prices
df['NEW_CP'] = df['SELLING_PRICE'].apply(lambda x: calculate_new_competitor_price(x, std_dev))
# Display the DataFrame with new competitor prices

In [20]:
df.tail()

,DATE,PRODUCT_ID,SELLING_PRICE,COST,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,SEASON,IS_HOLIDAY,IS_WEEKEND,Day_of_Week,Month,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Profit_Margin,NEW_CP
152095,29-02-2024,96,201.595280,133.402318,217.195713,55841.89253,0,1004,Dairy,Cheese,...,Winter,0,0,3,2,0,1,0,68.192962,149.460308
152096,29-02-2024,97,206.227553,155.834382,189.576894,603009.36410,0,713,Bakery,Cakes,...,Winter,0,0,3,2,1,0,0,50.393170,87.523302
152097,29-02-2024,98,176.899831,116.107866,175.451067,374673.84200,0,51,Cleaning,Disinfectants,...,Winter,0,0,3,2,1,0,0,60.791965,148.635257
152098,29-02-2024,99,265.119380,255.883747,263.057956,74233.42640,0,85,Cereals,Corn Flakes,...,Winter,0,0,3,2,1,0,0,9.235633,223.241362
152099,29-02-2024,100,89.319855,59.610843,97.794150,162740.77510,0,66,Snacks,Nuts,...,Winter,0,0,3,2,0,1,0,29.709012,10.571147

In [21]:
df['NEW_CP'].corr(df['COMPETITOR_PRICE'])

0.8147081765516903

In [23]:
df['SELLING_PRICE'].corr(df['COMPETITOR_PRICE'])

0.993292173662804

In [24]:
df['NEW_CP'].corr(df['SELLING_PRICE'])

0.8201829355722035

In [11]:
df_test['DATE'] = pd.to_datetime(df_test['DATE'],'DD-MM-YYYY')

AssertionError:

In [12]:
df['DATE'] = pd.to_datetime(df['DATE'],format='%d-%m-%Y')

In [13]:
df.tail()

,DATE,PRODUCT_ID,SELLING_PRICE,COST,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,SEASON,IS_HOLIDAY,IS_WEEKEND,Day_of_Week,Month,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Profit_Margin,NEW_CP
152095,2024-02-29,96,201.595280,133.402318,217.195713,55841.89253,0,1004,Dairy,Cheese,...,Winter,0,0,3,2,0,1,0,68.192962,164.428030
152096,2024-02-29,97,206.227553,155.834382,189.576894,603009.36410,0,713,Bakery,Cakes,...,Winter,0,0,3,2,1,0,0,50.393170,143.519201
152097,2024-02-29,98,176.899831,116.107866,175.451067,374673.84200,0,51,Cleaning,Disinfectants,...,Winter,0,0,3,2,1,0,0,60.791965,132.825242
152098,2024-02-29,99,265.119380,255.883747,263.057956,74233.42640,0,85,Cereals,Corn Flakes,...,Winter,0,0,3,2,1,0,0,9.235633,199.148044
152099,2024-02-29,100,89.319855,59.610843,97.794150,162740.77510,0,66,Snacks,Nuts,...,Winter,0,0,3,2,0,1,0,29.709012,74.035068

In [14]:
df_test['DATE'] = df_test['DATE'] + pd.DateOffset(months=5)
df['DATE'] = df['DATE'] + pd.DateOffset(months=5)

TypeError: unsupported operand type(s) for +: 'DateOffset' and 'str'

In [15]:
df_test

,Unnamed: 0,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,...,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,Projected Selling Price,Projected Sales
0,0,2024-03-01,1,383.540818,197.989133,405.290680,133472.20470,0,171,Bakery,...,104.0,99.0,0,1,0.0,45.802329,-1.885123,185.551685,387.573413,100899.658534
1,1,2024-03-01,2,43.502901,30.552955,40.457301,105451.03200,0,145,Bakery,...,245.0,129.0,1,0,0.0,-6.596502,-1.970561,12.949946,45.900080,88346.670056
2,2,2024-03-01,3,49.381390,22.282695,49.820216,64442.71391,0,551,Beverages,...,531.0,351.0,0,1,0.0,-4.012475,-1.209635,27.098695,47.622911,90178.294287
3,3,2024-03-01,4,186.108696,157.102309,189.534233,388594.95760,0,894,Cleaning,...,837.0,985.0,0,1,0.0,-8.097157,5.063176,29.006388,183.604084,470072.378483
4,4,2024-03-01,5,459.921642,295.345194,436.443848,860053.47120,0,693,Cleaning,...,1173.0,1073.0,1,0,0.0,-29.675271,-4.434920,164.576448,461.296412,710187.357318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,3095,2024-03-31,96,216.330694,128.139932,203.075904,140182.28990,1,891,Dairy,...,859.0,1397.0,1,0,22.0,-9.700018,-4.921920,88.190762,213.521560,154366.131215
3096,3096,2024-03-31,97,200.992760,136.927526,219.748747,114163.88750,0,1607,Bakery,...,1747.0,1119.0,0,1,0.0,10.791856,0.765215,64.065233,208.022523,91005.129128
3097,3097,2024-03-31,98,188.888741,138.307450,195.910036,589143.98350,1,108,Cleaning,...,56.0,66.0,0,1,12.0,20.195705,3.841565,50.581291,185.735565,766361.565680
3098,3098,2024-03-31,99,278.653458,204.865767,274.796798,652606.39870,0,104,Cereals,...,179.0,166.0,1,0,0.0,-7.713147,3.630951,73.787691,289.765375,549042.006980
3099,3099,2024-03-31,100,85.739741,59.085228,80.771645,46213.72036,0,49,Snacks,...,50.0,88.0,1,0,0.0,-3.282719,-1.091174,26.654513,84.083294,65158.121735

In [49]:
df.tail()

,DATE,PRODUCT_ID,SELLING_PRICE,COST,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,SEASON,IS_HOLIDAY,IS_WEEKEND,Day_of_Week,Month,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Profit_Margin,NEW_CP
152095,2024-07-29,96,201.595280,133.402318,217.195713,55841.89253,0,1004,Dairy,Cheese,...,Winter,0,0,3,2,0,1,0,68.192962,215.523222
152096,2024-07-29,97,206.227553,155.834382,189.576894,603009.36410,0,713,Bakery,Cakes,...,Winter,0,0,3,2,1,0,0,50.393170,188.117078
152097,2024-07-29,98,176.899831,116.107866,175.451067,374673.84200,0,51,Cleaning,Disinfectants,...,Winter,0,0,3,2,1,0,0,60.791965,174.100025
152098,2024-07-29,99,265.119380,255.883747,263.057956,74233.42640,0,85,Cereals,Corn Flakes,...,Winter,0,0,3,2,1,0,0,9.235633,261.032308
152099,2024-07-29,100,89.319855,59.610843,97.794150,162740.77510,0,66,Snacks,Nuts,...,Winter,0,0,3,2,0,1,0,29.709012,97.041097

In [50]:
df.to_csv('FINAL_TRAIN.csv',index=False)
df_test.to_csv('FINAL_TEST.csv',index=False)