In [2]:
import pandas as pd
import numpy as np
import random

In [30]:
df = pd.read_csv('Final_train_data.csv')
df_test = pd.read_csv('Final_corrected_Projected_Data.csv')

In [31]:
s=random.uniform(0.7,1.3)

In [32]:
df['NEW_CP'] = df['COMPETITOR_PRICE']*(random.uniform(0.7,1.3))

In [33]:
df.head()

,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,7_day_rolling_avg_quantity,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,NEW_CP
0,2020-01-01,1,361.072475,205.136907,364.659924,770167.5884,0.0,147.0,Bakery,Bread,...,147.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,155.935568,439.740584
1,2020-01-01,2,42.896200,36.296394,43.856067,170555.2912,0.0,204.0,Bakery,Cakes,...,204.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,6.599806,52.885693
2,2020-01-01,3,49.305021,25.475475,52.902257,113598.7675,0.0,520.0,Beverages,Soft Drinks,...,520.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,23.829546,63.794423
3,2020-01-01,4,192.328490,146.093738,203.120787,244257.1826,0.0,994.0,Cleaning,Wipes,...,994.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,46.234753,244.941787
4,2020-01-01,5,463.593618,258.965427,424.871669,543331.7209,0.0,699.0,Cleaning,Disinfectants,...,699.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,204.628191,512.349462

In [34]:
df['NEW_CP'].corr(df['COMPETITOR_PRICE'])

1.0

In [35]:
df['NEW_CP'].corr(df['SELLING_PRICE'])

0.9932988413425774

In [36]:
df_test['DATE'] = pd.to_datetime(df_test['DATE'])
df['DATE'] = pd.to_datetime(df['DATE'])

In [37]:
df_test['DATE'] = df_test['DATE'] + pd.DateOffset(months=5)
df['DATE'] = df['DATE'] + pd.DateOffset(months=5)

In [38]:
df_test

,Unnamed: 0,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,...,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,Projected Selling Price,Projected Sales
0,0,2024-08-01,1,383.540818,197.989133,405.290680,133472.20470,0,171,Bakery,...,104.0,99.0,0,1,0.0,45.802329,-1.885123,185.551685,387.573413,100899.658534
1,1,2024-08-01,2,43.502901,30.552955,40.457301,105451.03200,0,145,Bakery,...,245.0,129.0,1,0,0.0,-6.596502,-1.970561,12.949946,45.900080,88346.670056
2,2,2024-08-01,3,49.381390,22.282695,49.820216,64442.71391,0,551,Beverages,...,531.0,351.0,0,1,0.0,-4.012475,-1.209635,27.098695,47.622911,90178.294287
3,3,2024-08-01,4,186.108696,157.102309,189.534233,388594.95760,0,894,Cleaning,...,837.0,985.0,0,1,0.0,-8.097157,5.063176,29.006388,183.604084,470072.378483
4,4,2024-08-01,5,459.921642,295.345194,436.443848,860053.47120,0,693,Cleaning,...,1173.0,1073.0,1,0,0.0,-29.675271,-4.434920,164.576448,461.296412,710187.357318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,3095,2024-08-31,96,216.330694,128.139932,203.075904,140182.28990,1,891,Dairy,...,859.0,1397.0,1,0,22.0,-9.700018,-4.921920,88.190762,213.521560,154366.131215
3096,3096,2024-08-31,97,200.992760,136.927526,219.748747,114163.88750,0,1607,Bakery,...,1747.0,1119.0,0,1,0.0,10.791856,0.765215,64.065233,208.022523,91005.129128
3097,3097,2024-08-31,98,188.888741,138.307450,195.910036,589143.98350,1,108,Cleaning,...,56.0,66.0,0,1,12.0,20.195705,3.841565,50.581291,185.735565,766361.565680
3098,3098,2024-08-31,99,278.653458,204.865767,274.796798,652606.39870,0,104,Cereals,...,179.0,166.0,1,0,0.0,-7.713147,3.630951,73.787691,289.765375,549042.006980
3099,3099,2024-08-31,100,85.739741,59.085228,80.771645,46213.72036,0,49,Snacks,...,50.0,88.0,1,0,0.0,-3.282719,-1.091174,26.654513,84.083294,65158.121735

In [39]:
df.tail()

,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,7_day_rolling_avg_quantity,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,NEW_CP
35047,2021-05-16,48,311.231157,166.430571,328.426973,254275.8555,0.0,527.0,Meat,Fish,...,543.428571,521.0,314.0,0.0,1.0,0.0,12.424544,9.249961,144.800586,396.047548
35048,2021-05-16,49,346.723290,152.950189,325.269895,366486.5175,0.0,702.0,Snacks,Nuts,...,1114.714286,731.0,788.0,1.0,0.0,0.0,11.751988,-0.133366,193.773101,392.240452
35049,2021-05-16,50,346.734533,162.534229,332.453219,409146.7485,0.0,141.0,Cereals,Oatmeal,...,193.285714,222.0,124.0,1.0,0.0,0.0,-60.469094,-16.541098,184.200304,400.902767
35050,2021-05-16,51,193.517525,127.071996,211.731047,334785.3184,0.0,1037.0,Dairy,Yogurt,...,902.142857,601.0,998.0,0.0,1.0,0.0,30.830051,3.598928,66.445530,255.324832
35051,2021-05-16,52,92.388518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN