In [1]:
import pandas as pd
import numpy as np
import random

/tmp/ipykernel_34/605883380.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('Final_train_data.csv')
df_test = pd.read_csv('Final_corrected_Projected_Data.csv')

In [3]:
s=random.uniform(0.7,1.3)

In [4]:
df['NEW_CP'] = df['COMPETITOR_PRICE']*(random.uniform(0.7,1.3))

In [5]:
df.head()

,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,7_day_rolling_avg_quantity,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,NEW_CP
0,2020-01-01,1,361.072475,205.136907,364.659924,770167.5884,0,147,Bakery,Bread,...,147.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,155.935568,419.550515
1,2020-01-01,2,42.896200,36.296394,43.856067,170555.2912,0,204,Bakery,Cakes,...,204.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,6.599806,50.457521
2,2020-01-01,3,49.305021,25.475475,52.902257,113598.7675,0,520,Beverages,Soft Drinks,...,520.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,23.829546,60.865392
3,2020-01-01,4,192.328490,146.093738,203.120787,244257.1826,0,994,Cleaning,Wipes,...,994.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,46.234753,233.695630
4,2020-01-01,5,463.593618,258.965427,424.871669,543331.7209,0,699,Cleaning,Disinfectants,...,699.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,204.628191,488.825659

In [6]:
df['NEW_CP'].corr(df['COMPETITOR_PRICE'])

0.9999999999999996

In [7]:
df['NEW_CP'].corr(df['SELLING_PRICE'])

0.9933105341514352

In [8]:
df_test['DATE'] = pd.to_datetime(df_test['DATE'])
df['DATE'] = pd.to_datetime(df['DATE'])

In [17]:
df_test['DATE'] = df_test['DATE'] + pd.DateOffset(months=5)
df['DATE'] = df['DATE'] + pd.DateOffset(months=5)

In [18]:
df_test

,Unnamed: 0,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,...,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,Projected Selling Price,Projected Sales
0,0,2025-06-01,1,383.540818,197.989133,405.290680,133472.20470,0,171,Bakery,...,104.0,99.0,0,1,0.0,45.802329,-1.885123,185.551685,387.573413,100899.658534
1,1,2025-06-01,2,43.502901,30.552955,40.457301,105451.03200,0,145,Bakery,...,245.0,129.0,1,0,0.0,-6.596502,-1.970561,12.949946,45.900080,88346.670056
2,2,2025-06-01,3,49.381390,22.282695,49.820216,64442.71391,0,551,Beverages,...,531.0,351.0,0,1,0.0,-4.012475,-1.209635,27.098695,47.622911,90178.294287
3,3,2025-06-01,4,186.108696,157.102309,189.534233,388594.95760,0,894,Cleaning,...,837.0,985.0,0,1,0.0,-8.097157,5.063176,29.006388,183.604084,470072.378483
4,4,2025-06-01,5,459.921642,295.345194,436.443848,860053.47120,0,693,Cleaning,...,1173.0,1073.0,1,0,0.0,-29.675271,-4.434920,164.576448,461.296412,710187.357318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,3095,2025-06-30,96,216.330694,128.139932,203.075904,140182.28990,1,891,Dairy,...,859.0,1397.0,1,0,22.0,-9.700018,-4.921920,88.190762,213.521560,154366.131215
3096,3096,2025-06-30,97,200.992760,136.927526,219.748747,114163.88750,0,1607,Bakery,...,1747.0,1119.0,0,1,0.0,10.791856,0.765215,64.065233,208.022523,91005.129128
3097,3097,2025-06-30,98,188.888741,138.307450,195.910036,589143.98350,1,108,Cleaning,...,56.0,66.0,0,1,12.0,20.195705,3.841565,50.581291,185.735565,766361.565680
3098,3098,2025-06-30,99,278.653458,204.865767,274.796798,652606.39870,0,104,Cereals,...,179.0,166.0,1,0,0.0,-7.713147,3.630951,73.787691,289.765375,549042.006980
3099,3099,2025-06-30,100,85.739741,59.085228,80.771645,46213.72036,0,49,Snacks,...,50.0,88.0,1,0,0.0,-3.282719,-1.091174,26.654513,84.083294,65158.121735

In [19]:
df.tail()

,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,SUBCATEGORY,...,7_day_rolling_avg_quantity,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,NEW_CP
122494,2024-08-09,95,491.904446,260.370519,525.615995,1.926790e+06,1,177,Snacks,Nuts,...,151.000000,172.0,192.0,0.0,1.0,9.0,0.865954,2.443387,231.533927,604.734567
122495,2024-08-09,96,197.031698,131.407166,213.969192,6.241964e+05,0,1082,Dairy,Cheese,...,950.428571,1092.0,615.0,0.0,1.0,0.0,1.255649,-0.307640,65.624532,246.176997
122496,2024-08-09,97,190.966948,116.006014,178.768967,3.828887e+05,0,859,Bakery,Cakes,...,991.571429,818.0,1342.0,1.0,0.0,0.0,-18.370595,-11.004291,74.960934,205.678242
122497,2024-08-09,98,179.573989,113.591656,190.396476,5.387220e+04,0,73,Cleaning,Disinfectants,...,66.142857,50.0,47.0,0.0,1.0,0.0,18.955476,6.836920,65.982333,219.055987
122498,2024-08-09,99,281.431028,234.768550,260.756457,3.425016e+05,0,90,Cereals,Corn Flakes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.006934

In [16]:
df.to_csv('FINAL_TRAIN')