In [1]:
import pandas as pd

/tmp/ipykernel_40/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
df=pd.read_csv('Projected Data.csv')

In [8]:
df

,Unnamed: 0,DATE,PRODUCT_ID,SELLING_PRICE,COST_PRICE,COMPETITOR_PRICE,SALES,IS_PROMOTION,QUANTITY,CATEGORY,...,1_day_lag_quantity,7_day_lag_quantity,Price_Above_Competitor,Price_Below_Competitor,Days_Since_Last_Promotion,Competitor_Price_Change,Selling_Price_Daily_Change,Profit_Margin,Projected Selling Price,Projected Sales
0,152100,2024-03-01,1,383.540818,197.989133,405.290680,133472.20470,0,171,Bakery,...,104.0,99.0,0,1,0.0,45.802329,-1.885123,185.551685,380.225792,1.227368e+06
1,152101,2024-03-01,2,43.502901,30.552955,40.457301,105451.03200,0,145,Bakery,...,245.0,129.0,1,0,0.0,-6.596502,-1.970561,12.949946,43.786265,1.219451e+05
2,152102,2024-03-01,3,49.381390,22.282695,49.820216,64442.71391,0,551,Beverages,...,531.0,351.0,0,1,0.0,-4.012475,-1.209635,27.098695,48.710736,1.156618e+05
3,152103,2024-03-01,4,186.108696,157.102309,189.534233,388594.95760,0,894,Cleaning,...,837.0,985.0,0,1,0.0,-8.097157,5.063176,29.006388,185.432868,4.563059e+05
4,152104,2024-03-01,5,459.921642,295.345194,436.443848,860053.47120,0,693,Cleaning,...,1173.0,1073.0,1,0,0.0,-29.675271,-4.434920,164.576448,464.229561,7.301295e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,155195,2024-03-31,96,216.330694,128.139932,203.075904,140182.28990,1,891,Dairy,...,859.0,1397.0,1,0,22.0,-9.700018,-4.921920,88.190762,208.800468,3.629279e+05
3096,155196,2024-03-31,97,200.992760,136.927526,219.748747,114163.88750,0,1607,Bakery,...,1747.0,1119.0,0,1,0.0,10.791856,0.765215,64.065233,209.175655,3.320429e+05
3097,155197,2024-03-31,98,188.888741,138.307450,195.910036,589143.98350,1,108,Cleaning,...,56.0,66.0,0,1,12.0,20.195705,3.841565,50.581291,186.237691,4.203814e+05
3098,155198,2024-03-31,99,278.653458,204.865767,274.796798,652606.39870,0,104,Cereals,...,179.0,166.0,1,0,0.0,-7.713147,3.630951,73.787691,285.688837,3.070894e+05
3099,155199,2024-03-31,100,85.739741,59.085228,80.771645,46213.72036,0,49,Snacks,...,50.0,88.0,1,0,0.0,-3.282719,-1.091174,26.654513,86.579305,1.267944e+05

In [11]:

def adjust_projected_sales(row):
   if row['Projected Selling Price'] > row['SELLING_PRICE']:
       row['Projected Sales'] = row['SALES'] * ran
   elif row['Projected Selling Price'] < row['SELLING_PRICE']:
       increase_factor = 1.2
       row['Projected Sales'] = row['SALES'] * increase_factor
   return row
df = df.apply(adjust_projected_sales, axis=1)
df['LOST_SALES_OPPORTUNITY'] = df['Projected Sales'] - df['SALES']
print(df[['DATE', 'PRODUCT_ID', 'SELLING_PRICE', 'Projected Selling Price', 'SALES', 'Projected Sales', 'LOST_SALES_OPPORTUNITY']].head())

         DATE  PRODUCT_ID  SELLING_PRICE  Projected Selling Price  \
0  2024-03-01           1     383.540818               380.225792
1  2024-03-01           2      43.502901                43.786265
2  2024-03-01           3      49.381390                48.710736
3  2024-03-01           4     186.108696               185.432868
4  2024-03-01           5     459.921642               464.229561

          SALES  Projected Sales  LOST_SALES_OPPORTUNITY
0  133472.20470    160166.645640            26694.440940
1  105451.03200    105451.032000                0.000000
2   64442.71391     77331.256692            12888.542782
3  388594.95760    466313.949120            77718.991520
4  860053.47120    860053.471200                0.000000